name: "Deploy Pages"
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: nixbuild/nix-quick-install-action@v34
        with:
          nix_conf: |
            keep-env-derivations = true
            keep-outputs = true
            extra-trusted-public-keys = ctrl-os:baPzGxj33zp/P+GAIJXsr8ss9Law+qEEFViX1+flbv8=
            extra-substituters = https://cache.ctrl-os.com/
      - name: Restore the nix store if available
        uses: nix-community/cache-nix-action/restore@v6
        id: nix-cache-restore
        with:
          primary-key: manuals-website-${{ runner.os }}-${{ github.sha }}
          restore-prefixes-first-match: manuals-website-${{ runner.os }}
      - name: Build the manuals
        id: buildManual
        run: nix -L build .#manualWebsite
      - name: Store the build cache always
        uses: nix-community/cache-nix-action/save@v6
        if: always() && steps.nix-cache-restore.outputs.hit-primary-key != 'true'
        id: nix-cache-save
        with:
          primary-key: ${{ steps.nix-cache-restore.outputs.primary-key }}
          purge: true
          purge-last-accessed: "432000" # Lets keep the cache for 5 days after the last access
      - name: Upload artifacts
        id: deployment
        uses: actions/upload-pages-artifact@v4
        with:
          path: result/

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4